
:root {
  --main-width: 95%;
}

a:link {
  text-decoration: none;
  color: unset; 
}

a:visited {
  text-decoration: none;
  color: unset; 
}

a:hover {
  text-decoration: none;
  color: unset; 
}

a:active {
  text-decoration: none;
  color: unset; 
}

.sm-container {
  padding: 0 calc((100% - var(--main-width)) / 2);
}

button {
  cursor: pointer;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Geist Variable';
  margin: 0;
  padding: 0;
  color: #161616;
  background-color: #F9F9F9;
}

.home-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  position: relative;
  margin-top: 180px;
}

.flex-wrapper-md {
    display: flex;
    gap: 10px;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.overlay {
  display: flex;
  flex-direction: column;
  gap: 160px;
  align-items: center;
  padding: 0 calc((100% - var(--main-width)) / 2);
  background-color: white;
  box-shadow: 0 350px 150px 700px white;
  position: relative;
  z-index: 1;
}

.overlay p > h1 {
  font-size: 2rem;
}

.back-link {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: #666666;
}

.back-link img {
  transition: transform 330ms ease;
}

.back-link:hover img {
  transform: translateX(-3px);
}

@media only screen and (max-width: 500px) {
  .flex-wrapper-md {
    flex-direction: column;
  }

  .overlay p > h1 {
    font-size: 1.5rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  :root {
    --main-width: 80%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  :root {
    --main-width: 70%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  :root {
    --main-width: 60%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  :root {
    --main-width: 50%;
  }
}