:root {
  --main-width: 95%;
  font-family: 'InterDisplay-Regular', sans-serif;
  --text-color: #161616;
  --bg-color: #F9F9F9;
  --nav-item-text-color: #555555;
  --nav-item-active-text-color: #171717;
  --nav-item-border-color: #000000;
  --navbar-hover-bg-color: #F0F0F0;
  --theme-btn-bg-color: #EFEFEF;
  --title-3-color: #555555;
  --hardware-bg-color: #FFF;
  --hardware-round-btn-bg: #F9F9F9;
  --hardware-round-btn-arrow: #555555;
  --theme-tooltip-bg: #0D0D0D;
  --theme-tooltip-color: #FFF;
}

[data-theme="dark"] {
  --bg-color: #000000;
  --text-color: #ffffff;
  --nav-item-text-color: #A9A9A9;
  --nav-item-active-text-color: #FFFFFF;
  --nav-item-border-color: #A9A9A9;
  --navbar-hover-bg-color: #202020;
  --theme-btn-bg-color: #202020;
  --title-3-color: #BBBBBB;
  --hardware-bg-color: #111111;
  --hardware-round-btn-bg: #0D0D0D;
  --hardware-round-btn-arrow: #A9A9A9;
  --theme-tooltip-bg: #FFF;
  --theme-tooltip-color: #171717;
}

.display-1 {
  font-family: 'InterDisplay-Bold';
  font-size: 52px;
  line-height: 68px;
  letter-spacing: -0.25px;
}

.display-2 {
  font-family: 'InterDisplay-Bold';
  font-size: 44px;
  line-height: 57px;
  letter-spacing: 0px;
}

.display-3 {
  font-family: 'InterDisplay-Bold';
  font-size: 38px;
  line-height: 50px;
  letter-spacing: 0px;
}

.headline-1 {
  font-family: 'InterDisplay-SemiBold';
  font-size: 30px;
  line-height: 39px;
  letter-spacing: 0px;
}

.headline-2 {
  font-family: 'InterDisplay-SemiBold';
  font-size: 26px;
  line-height: 34px;
  letter-spacing: 0px;
}

.headline-3 {
  font-family: 'InterDisplay-SemiBold';
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0px;
}

.title-1 {
  font-family: 'InterDisplay-Medium';
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0px;
}

.title-2 {
  font-family: 'InterDisplay-Medium';
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.1px;
}

.title-3 {
  font-family: 'InterDisplay-Medium';
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.2px;
  font-weight: normal;
}

.body-1 {
  font-family: 'InterDisplay-Regular';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.25px;
}

.body-2 {
  font-family: 'InterDisplay-Regular';
  font-size: 15px;
  line-height: 22.5px;
  letter-spacing: 0px;
  font-weight: normal;
}

.body-3 {
  font-family: 'InterDisplay-Medium';
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.sm-container {
  padding: 0 calc((100% - var(--main-width)) / 2);
}

button {
  cursor: pointer;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'InterDisplay';
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.home-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  position: relative;
  margin-top: 100px;
}

.flex-wrapper-md {
    display: flex;
    gap: 10px;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.overlay {
  display: flex;
  flex-direction: column;
  gap: 160px;
  align-items: center;
  padding: 0 calc((100% - var(--main-width)) / 2);
  background-color: white;
  box-shadow: 0 350px 150px 700px white;
  position: relative;
  z-index: 1;
}

.overlay p > h1 {
  font-size: 2rem;
}

.back-link {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: #666666 !important;
  font-size: 15px;
}

.back-link img {
  transition: transform 330ms ease;
}

.back-link:hover img {
  transform: translateX(-3px);
}

@media only screen and (max-width: 500px) {
  .flex-wrapper-md {
    flex-direction: column;
  }

  .overlay p > h1 {
    font-size: 1.5rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  :root {
    --main-width: 80%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  :root {
    --main-width: 70%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  :root {
    --main-width: 60%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  :root {
    --main-width: 50%;
  }
}