.image-container {
	columns: 3 449px;
	column-gap: 1em;
	padding: 0 10%;
	margin: 40px 0 120px 0;
}

.image-container img {
	display: block;
	margin-bottom: 1em;
	object-fit: cover;
	transition: transform 0.3s ease;
	border-radius: 16px;
	width: 100%;
}

/* Make images of different sizes using grid row and column spans */
/* .image-container img:nth-child(1) {
	grid-column: span 1;
	grid-row: span 1;
}

.image-container img:nth-child(2) {
	grid-column: span 1;
	grid-row: span 2;
}

.image-container img:nth-child(3) {
	grid-column: span 1;
	grid-row: span 2;
}

.image-container img:nth-child(4) {
	grid-column: span 1;
	grid-row: span 2;
}

.image-container img:nth-child(5) {
	grid-column: span 1;
	grid-row: span 2;
}

.image-container img:nth-child(6) {
	grid-column: span 1;
	grid-row: span 1;
}

.image-container img:nth-child(7) {
	grid-column: span 1;
	grid-row: span 2;
}

.image-container img:nth-child(8) {
	grid-column: span 1;
	grid-row: span 2;
}

.image-container img:nth-child(9) {
	grid-column: span 1;
	grid-row: span 2;
}

.image-container img:nth-child(10) {
	grid-column: span 1;
	grid-row: span 2;
}

.image-container img:nth-child(11) {
	grid-column: span 1;
	grid-row: span 2;
}

.image-container img:nth-child(12) {
	grid-column: span 1;
	grid-row: span 1;
} */
