.content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 calc((100% - var(--main-width)) / 2);
}

.title {
    font-weight: bold;
    font-size: 3rem;
    color: #171717;
}


.subtitle {
    font-weight: 450;
    font-size: 1.125rem;
    color: #666666;
}

.font-500 {
    font-weight: 500;
}

.green-dot {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 99px;
    background-color: #1ED55C;
    box-shadow: 0px 0px 1px 5px #D1FCE0;
}

@media only screen and (max-width: 600px) {
	.title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 0.9rem;
    }
}

