/* General reset */

.navbar-item {
	cursor: pointer;
	text-decoration: none;
	color: var(--nav-item-text-color);
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 36px;
}

.navbar-active {
	position: relative;
	/* top: 2px; */
	color: var(--nav-item-active-text-color) !important;
}

.navbar-text {
	padding: 6px 8px;
	border-radius: 6px;
}

/* On hover, reveal arrow */
.navbar-text:hover {
	background-color: var(--navbar-hover-bg-color);
}

.navbar-active:hover .navbar-text {
	background-color: transparent !important;
}

.active-border {
	width: 30%;
	height: 2px;
	background-color: var(--nav-item-border-color);
	border-radius: 99px;
	position: relative;
	top: 5px;
}

@media only screen and (max-width: 600px) {
	.navbar-text {
        font-size: 12px;
    }
}