.center {
    text-align: center;
}

.p-subtitle {
    padding: 40px 20%;
    text-wrap: balance;
}

.secondary-text-color {
    color: var(--now-secondary-text-color);
}

.no-margin {
    margin: 0;
}

.image-container {
	columns: 3 330px;
	column-gap: .5em;
	margin: 40px 0 120px 0;
}

.image-container img {
	display: block;
	margin-bottom: .5em;
	object-fit: cover;
	transition: transform 0.3s ease;
	border-radius: 16px;
	width: 100%;
	/* cursor: pointer; */
}