/* static fonts */

@font-face {
    font-family: 'InterDisplay-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/InterDisplay-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'InterDisplay-Medium';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/InterDisplay-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'InterDisplay-Thin';
	font-style: normal;
	font-weight: 100;
	src: url('./fonts/InterDisplay-Thin.woff2') format('woff2');
}

@font-face {
	font-family: 'InterDisplay-Light';
	font-style: normal;
	font-weight: 300;
	src: url('./fonts/InterDisplay-Light.woff2') format('woff2');
}


@font-face {
	font-family: 'InterDisplay-SemiBold';
	font-style: normal;
	font-weight: 600;
	src: url('./fonts/InterDisplay-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'InterDisplay-Bold';
	font-style: normal;
	font-weight: 700;
	src: url('./fonts/InterDisplay-Bold.woff2') format('woff2');
}

