
:root {
  --main-width: 95%;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Geist Variable';
  margin: 0;
  padding: 0;
  color: #161616;
  background-color: #F9F9F9;
}

.home-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: var(--main-width);
  margin: 0 auto;
}

.container {
  margin-top: 150px;
  min-height: 1200px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  :root {
    --main-width: 80%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  :root {
    --main-width: 70%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  :root {
    --main-width: 60%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  :root {
    --main-width: 50%;
  }
}