body {
  margin: 0;
  font-family: 'Geist Variable';

  /* For Geist Mono */
  font-family: 'Geist Mono Variable';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
